body {
    background-color:rgb(59, 43, 43)

}

#increase, #decrease {
background-color: black;
color: white;
border: none;
border-radius: 20%;
height: 60px;
width: 60px;
font-weight: bold;
}

#increase, #decrease:hover {
    background-color: aqua;
    color: darkblue;
}

.highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    font-size: 3em; 
    font-weight: bold;
}

.firstHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #ffffff;
}
