.highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    font-size: 3em; 
    font-weight: bold;
}

.firstHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
}