body {
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(59, 43, 43);
    padding: 0;
    margin: 0;
}

#increase, #decrease {
background-color: black;
color: white;
border: none;
border-radius: 20%;
height: 60px;
width: 60px;
font-weight: bold;
}

#increase, #decrease:hover {
    background-color: aqua;
    color: darkblue;
}


.highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    font-size: 5em;
    font-weight: bold;
    width: 50px;
  
}

.firstHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 118, 118);
    color: #ffffff;
    border-radius: 20% 20% 20%;
    padding: 5%;
}

h2 {
    text-align: center ;
    color: white;
    background-color: aquamarine;
}
